.pokemon-card{
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(240,241,242);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    transition: .2s;
}
.pokemon-card-name{
    cursor: pointer;
}
.pokemon-card-name:hover{
    text-decoration: underline;
}
.favourite-text{
    font-size: 14px;
    cursor: pointer;
}
.favourite-text.add:hover{
    color: green!important;
}
.favourite-text.remove:hover{
    color: red!important;
}
.favourite-icon{
    width: 12px;
    height: 12px;
    margin-left: 4px;
    margin-bottom: 1px;
}