.pokemon-card{
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(240,241,242);
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: .2s;
    cursor: pointer;

    &:hover{
        background-color: rgb(220,221,222);
    }
}