@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bug{ background-color: #A8B820!important; }
.dark{ background-color: #705848!important; }
.dragon{ background-color: #7038F8!important; }
.electric{ background-color: #F8D030!important; }
.fairy{ background-color: #EE99AC!important; }
.fighting{ background-color: #C03028!important; }
.fire{ background-color: #F08030!important; }
.flying{ background-color: #EE99AC!important; }
.ghost{ background-color: #705898!important; }
.grass{ background-color: #78C850!important; }
.ground{ background-color: #E0C068!important; }
.ice{ background-color: #98D8D8!important; }
.normal{ background-color: #A8A878!important; }
.poison{ background-color: #A040A0!important; }
.psychic{ background-color: #F85888!important; }
.rock{ background-color: #B8A038!important; }
.steel{ background-color: #B8B8D0!important; }
.water{ background-color: #6890F0!important; }
